.about {
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 26px;
}
.outdoor_header {
    margin-bottom: 2em;
    text-align: center;
    color: white;
    border-left: none;
    border-right: none;
}
.outdoor_header h2 {
    font-size: 36px;
}
.outdoor_header p {
    font-size: 24px;
}